<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Intel MacBook Pro</th>
            <th scope="col">M1 MacBook Pro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Getting history of an account with 1000 transactions</th>
            <td>20 seconds</td>
            <td>4 seconds</td>
        </tr>
        <tr>
            <th scope="row">Querying logs of a popular smart contract</th>
            <td>1 minute</td>
            <td>38 seconds</td>
        </tr>
        <tr>
            <th scope="row">Checking historical account balance</th>
            <td>0.5 seconds</td>
            <td>0.2 seconds</td>
        </tr>
    </tbody>
</table>