<dl class="d-flex flex-column gap-5">
    <div>
        <dt>
            Articulation
        </dt>
        <dd>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
        </dd>
    </div>

    <div>
        <dt>
            Block expressions
        </dt>
        <dd>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
        </dd>
    </div>

    <div>
        <dt>
            ENS support out of the box
        </dt>
        <dd>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
        </dd>
    </div>

    <div>
        <dt>
            Names database
        </dt>
        <dd>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
        </dd>
    </div>

    <div>
        <dt>
            Solidity-like syntax for calling smart contracts
        </dt>
        <dd>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
        </dd>
    </div>
</dl>