main.main-site {
    pre {
        margin: 0;
        button {
            display: none;
        }
    }
}

section.container {
    margin: $space-section auto;

    h1 {
        margin-top: 0;
    }

    table {
        margin: 0;
    }
}

.component-tabs {
    code,
    output {
        display: block;

        body.light &, body.dark & {
        background: none;
        }
    }

    .prompt {
        margin-right: 1ch;
        color: $blue-300;
    }

    output pre {
        color: $gray-500;
    }
}

.speed {
    .table-wrapper {
        background: $gray-100;
        border-radius: $border-radius;
        padding: $space;

        table {
            border-color: $gray-500;
        }

        body.dark & {
            &, table > :not(caption) > * > * {
            background-color: $gray-800;
            }
        }
    }
}

.features {
    .articulation {
        .figure-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        figure {
            margin: $space-s;

            figcaption {
                text-align: center;
                font-weight: bold;
            }

            code {
                display: block;
            }
        }

        .raw {
            code {
                background: none;
                color: $gray-600;
            }
        }
    }

    .block-expressions {
        .figure-wrapper {
            display: flex;
            justify-content: space-around;
        }

        figure {
            margin: $space-s;
            text-align: center;

            figcaption {
                font-style: italic;
            }
        }
    }

    .solidity {
        code {
            display: block;
            color: $gray-500;

            span {
                color: $primary;
                body.dark & {
                    color: $blue-300;
                }
            }
        }
    }
}

.testimonials {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: $space;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 0;
        padding: 1.5rem;

        border: 6px solid $gray-300;
        border-radius: 1rem;

        blockquote {
            border: none;
            padding: 0;
        }

        figcaption {
            text-align: right;
            margin: 0;
        }
    }

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }
}

.bottom-install {
    ul {
        li {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: $space;
        }
    }

    .buttons {
        display: flex;
        gap: $font-size-md;
        justify-content: center;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }
}

.grants {
    ul {
        display: flex;
        justify-content: space-evenly;

        img {
            height: 5rem;
        }

        img.moloch-dao {
            filter: invert(1);
        }

        body.dark & {
            img, img.moloch-dao {
                filter: invert(.4);
            }
        }

        @media screen and (max-width: 700px) {
            img {
                height: 2.5rem;
            }
        }
    }
}
